<link rel="stylesheet" type="text/css" href="./components/mainContent/mainContent.css"/>
<div class="panel-wrapper">
  <div class="col-sm-12 panel-heading component-heading">Panel of Judges</div>
  <div class="col-sm-12 panel-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, autem.</div>
  <div class="col-sm-12 panel-values-container">
    <div ng-repeat="panelValues in mainctrl.panels" class="col-sm-3 panels-values no-gutter"><img ng-src="{{panelValues.imageUrl}}" class="col-sm-4 circular panel-judge-image"/>
      <div class="col-sm-8 values-container">
        <div class="col-sm-12 panel-name">{{panelValues.name}}</div>
        <div class="col-sm-12 panel-title">{{panelValues.title}}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 description-text center">
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</h5>
 </div>
  <div class="col-sm-12 center button-section">
    <button class="green-button panel-click">CLICK HERE</button>
  </div>
</div>