<link rel="stylesheet" type="text/css" href="./components/headerContent/headerContent.css">
<div class="header-wrapper container-fluid">
	<div class="navigation-wrapper row">
		<div class="logo col-sm-5">
			<img src="./images/group.svg">
		</div>
		<ul class="nav nav-pills col-sm-5">
		  <li role="presentation" class="active"><a href="#">Home</a></li>
		  <li role="presentation"><a href="#">About Us</a></li>
		  <li role="presentation"><a href="#">Elements</a></li>
		  <li role="presentation"><a href="#">FAQ</a></li>
		</ul>
		<div class="sign-up-container col-sm-2">
			<button class="green-button-inverted">Sign Up</button>
		</div>
		
	</div>
	<div class="header-content center">
		<h1>HI, This is Hackathon</h1>
		<h5>We know you have got talent and we want you to show it! </h5>
		<button class="green-button">Click Here!</button>
	</div>
</div>