<div ng-init="ctrl.init()" class="carousel-content">
    <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">

            <div class="item active">
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="../../images/logo-1.svg" alt="Image" />
                        </div>
                    </div>
                </div>
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="../../images/logo-2.svg" alt="Image" />
                        </div>
                    </div>
                </div>
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="../../images/logo-3.svg" alt="Image" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                    <div class="inner-slide"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    <div class="inner-slide"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    <div class="inner-slide"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
            </div>

            <div class="item">
                    <div class="inner-slide"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    <div class="inner-slide"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    <div class="inner-slide"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
            </div>

        </div><!--/carousel-inner-->

        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">></a>
    </div>
</div>