.carousel-content {
    background: #f2f2f2;
}
.carousel {
    width: 100%;
    height: 23.125em;
    padding: 3.125em 5.625em 3.75em;
}
.carousel .item {
    height: 100%;
}
.carousel .item .inner-slide {
    display: inline-block;
    float: left;
    width: 32.66%;
    height: 100%;
    margin-right: 1%;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
.carousel .item .inner-slide:last-child {
    margin-right: 0;
}

.carousel .item .inner-slide .logo-outer-container {
    display: block;
    width: 6.25em;
    height: 6.25em;
    border: 1px solid #dddddd;
    border-radius: 50%;
    margin: 2.5em auto;
    padding: 5px;
}
.logo-inner-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #2effb5;
}
.logo-inner-container img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
}
/* Reposition the controls slightly */
.carousel-control.left, 
.carousel-control.right {
    display: inline-table;
    width: 50px;
    height: 50px;
    background: #dddddd;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.carousel-control.left {
    left: 65px;
}
.carousel-control.right {
    right: 65px;
}