<div ng-init="ctrl.init()" class="carousel-content">
    <h2>Previous Hackathon’s Journies</h2>
    <p>We know you have got talent and we want you to show it! </p>
    <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="./images/logo-1.svg" alt="Image" />
                        </div>
                    </div>
                    <div class="header">Lorem ipsum dolor</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                </div>
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="./images/logo-2.svg" alt="Image" />
                        </div>
                    </div>
                    <div class="header">Lorem ipsum dolor</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                </div>
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="./images/logo-3.svg" alt="Image" />
                        </div>
                    </div>
                    <div class="header">Lorem ipsum dolor</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                </div>
            </div>
            <div class="item">
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="./images/logo-1.svg" alt="Image" />
                        </div>
                    </div>
                    <div class="header">Lorem ipsum dolor</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                </div>
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="./images/logo-2.svg" alt="Image" />
                        </div>
                    </div>
                    <div class="header">Lorem ipsum dolor</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                </div>
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="./images/logo-3.svg" alt="Image" />
                        </div>
                    </div>
                    <div class="header">Lorem ipsum dolor</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                </div>
            </div>
            <div class="item">
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="./images/logo-1.svg" alt="Image" />
                        </div>
                    </div>
                    <div class="header">Lorem ipsum dolor</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                </div>
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="./images/logo-2.svg" alt="Image" />
                        </div>
                    </div>
                    <div class="header">Lorem ipsum dolor</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                </div>
                <div class="inner-slide">
                    <div class="logo-outer-container">
                        <div class="logo-inner-container">
                            <img src="./images/logo-3.svg" alt="Image" />
                        </div>
                    </div>
                    <div class="header">Lorem ipsum dolor</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                </div>
            </div>
        </div><!--/carousel-inner-->

        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="./images/arrow-right.svg"></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="./images/arrow-right.svg"></a>
    </div>
</div>