<link rel="stylesheet" type="text/css" href="./components/footerContent/footerContent.css">
<footer class="footer-wrapper col-sm-12">
	<section class="upper-footer col-sm-12 no-gutter">
		<div class="footer-content col-sm-3" ng-repeat='content in ctrl.data'>
			<h6>{{content.heading}}</h6>
			<p>{{content.description}}</p>
		</div>
	</section>
	<section class="lower-footer col-sm-12 no-gutter">
		<p class="copy-right-text col-sm-6 no-gutter">Copyright © 2017 Deloitte Development LLC.ALL rights reserved</p>
		<div class="social-media-links col-sm-6 no-gutter">
			<img class="social-media-icons" src="./images/facebook.png" alt="Facebook">
			<img class="social-media-icons" src="./images/instagram.png" alt="Instagram">
			<img class="social-media-icons" src="./images/message.png" alt="Message">
			<img class="social-media-icons" src="./images/twitter.png" alt="Twiter">
		</div>
	</section>
</footer>