@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.otf');
}
@font-face {
	font-family: 'Montserrat Regular';
	src: url('../fonts/Montserrat-Regular.otf');
}
@font-face {
	font-family: 'Montserrat Bold';
	src: url('../fonts/Montserrat-Bold.otf');
}
@font-face {
	font-family: 'ExodusDemo';
	src: url('../fonts/ExodusDemo-Stencil.otf');
}
body {
	font-family: 'Montserrat';
	font-size: 14px;
	color: #757575;
}
.bold {
	font-family: 'Montserrat Bold';
}
.exodus {
	font-family: 'ExodusDemo';
}
.component-heading{
	font-family: Montserrat;
	font-size: 32px;
	font-weight: 600;
}
button {
	font-family: 'Montserrat Bold';
	font-size: 16px;
	padding: 14px 28px;
	border-radius: 100px;
	text-transform: uppercase;
	transition: 1s all;
}
button:focus {
	outline: 0;
}
.circular {
	border-radius: 50%;
	border: solid 1px #dddddd;
}
.green-button, .green-button-inverted:hover {
	background-color: #2effb5;
	color: #4a4a4a;
	border: 1px solid #2effb5;
}
.green-button-inverted, .green-button:hover {
	background-color: transparent;
	color: #2effb5;
	border: 1px solid #2effb5;
}
h1 {
	font-family: 'ExodusDemo';
}
h6 {
	font-size: 20px;
	font-family: 'Montserrat Regular';
}
body .no-gutter {
	padding-left: 0;
	padding-right: 0;
}